<div *ngIf="selectedProject">
  <h3>Name: {{ selectedProject.name }}</h3>

  <div class="listAssociations">
    <div class="containerFiltersButton d-flex justify-content-between align-items-center mb-3">
      <div class="filters-container d-flex flex-grow-1">
        <div class="filter-container me-3 flex-grow-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Filter Option</mat-label>
            <mat-select [(value)]="assocFilterOption" (selectionChange)="applyAssocFilterOption()">
              <mat-option value="all">Colaboradores no Projeto em qualquer altura</mat-option>
              <mat-option value="current">Colaboradores Atualmente no Projeto</mat-option>
              <mat-option value="past">Colaboradores que já estiveram no Projeto</mat-option>
              <mat-option value="future">Colaboradores futuros no projeto</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter-container flex-grow-1">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Filter Colaborators</mat-label>
            <input matInput (keyup)="applyAssocFilter($any($event.target).value)" placeholder="Ex. John Doe">
          </mat-form-field>
        </div>
      </div>
      <div class="button-container">
        <button mat-raised-button color="primary" (click)="openAddAssociation()">Add Colaborator</button>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="associations" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="colaboratorId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Colaborator ID</th>
        <td mat-cell *matCellDef="let association">{{ association.colaboratorId }}</td>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Inicio</th>
        <td mat-cell *matCellDef="let association">{{ association.startDate | date: 'shortDate' }}</td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Fim</th>
        <td mat-cell *matCellDef="let association">{{ association.endDate | date: 'shortDate' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page"></mat-paginator>
  </div>

  <app-create-association *ngIf="isAddingAssociation" [selectedProject]="selectedProject" [colaboradoresAssocLista]="colaboradoresAssocLista"></app-create-association>
</div>
