<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="display-4">Projetos</h1>
        <button class="btn btn-primary btn-lg" (click)="openCreateProject()">Create Project</button>
      </div>
      <input type="text" class="form-control mb-3" placeholder="Filter" (keyup)="applyFilter($any($event.target).value)">
  
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead class="table-light">
            <tr>
              <th (click)="sortData('id')" id='id' style="cursor: pointer">#</th>
              <th (click)="sortData('name')" style="cursor: pointer">Name</th>
              <th (click)="sortData('startDate')" style="cursor: pointer">Start Date</th>
              <th (click)="sortData('endDate')" style="cursor: pointer">End Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of paginatedData(); let i = index">
              <td>{{ project.id }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.startDate | date: 'shortDate' }}</td>
              <td>{{ project.endDate | date: 'shortDate' }}</td>
              <td>
                <button class="btn btn-info" (click)="showProjectDetails(project)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button class="btn btn-secondary" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button class="btn btn-secondary" (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
    </div>
  </div>

  <div *ngIf="selectedProject" class="project-details mt-5">
    <h3>Project Details</h3>
    <p><strong>Name:</strong> {{ selectedProject.name }}</p>
    <p><strong>Start Date:</strong> {{ selectedProject.startDate | date: 'shortDate' }}</p>
    <p><strong>End Date:</strong> {{ selectedProject.endDate | date: 'shortDate' }}</p>
    
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="mt-4">Colaborators Associated to {{ selectedProject.name }}</h4>
      <div class="d-flex">
        <select class="form-select me-3" [(ngModel)]="assocFilterOption" (change)="applyAssocFilterOption()">
          <option value="current">Colaboradores Atualmente no Projeto</option>
          <option value="past">Colaboradores que já estiveram no Projeto</option>
          <option value="future">Colaboradores futuros no projeto</option>
        </select>
        <button class="btn btn-primary btn-lg" (click)="openAddAssociation()">Add Colaborator</button>
      </div>
    </div>
    
    <input type="text" class="form-control mb-3" placeholder="Filter Colaborators" (keyup)="applyAssocFilter($any($event.target).value)">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th (click)="sortAssocData('colaboratorId')" style="cursor: pointer">Colaborator ID</th>
            <th (click)="sortAssocData('startDate')" style="cursor: pointer">Data Inicio</th>
            <th (click)="sortAssocData('endDate')" style="cursor: pointer">Data Fim</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="filteredAssociations.length === 0">
            <td colspan="3">No colaborators found</td>
          </tr>
          <tr *ngFor="let association of paginatedAssocData(); let i = index">
            <td>{{ association.colaboratorId }}</td>
            <td>{{ association.startDate | date: 'shortDate' }}</td>
            <td>{{ association.endDate | date: 'shortDate' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <button class="btn btn-secondary" (click)="previousAssocPage()" [disabled]="currentAssocPage === 1">Previous</button>
        <span>Page {{ currentAssocPage }} of {{ totalAssocPages }}</span>
        <button class="btn btn-secondary" (click)="nextAssocPage()" [disabled]="currentAssocPage === totalAssocPages">Next</button>
      </div>
    </div>
  </div>

  <div *ngIf="isCreating" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeCreateProject()">&times;</span>
      <h2>Create Project</h2>
      <form #deliveryForm="ngForm" (ngSubmit)="createProject(deliveryForm.value)">
        <div class="mb-3">
          <label for="Name" class="form-label">Project Name</label>
          <input type="text" class="form-control" id="Name" name="Name" required [(ngModel)]="projeto.name" placeholder="ex: Projeto A">
        </div>
        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date</label>
          <input type="date" class="form-control" id="startDate" name="startDate" required [(ngModel)]="projeto.startDate">
        </div>
        <div class="mb-3">
          <label for="endDate" class="form-label">End Date</label>
          <input type="date" class="form-control" id="endDate" name="endDate" required [(ngModel)]="projeto.endDate">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="deliveryForm.invalid">Create</button>
      </form>
    </div>
  </div>

  <div *ngIf="isAddingAssociation" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeAddAssociation()">&times;</span>
      <h2>Add Colaborator</h2>
      <form #addAssociationForm="ngForm" (ngSubmit)="addAssociationToProject()">
        <div class="mb-3">
          <label for="projectId" class="form-label">Project</label>
          <input type="text" class="form-control" id="projectId" name="projectId" [value]="selectedProject?.name" disabled>
        </div>
        <div class="mb-3">
          <label for="colaboratorId" class="form-label">Colaborator</label>
          <select id="colaboratorId" name="colaboratorId" class="form-control" required [(ngModel)]="newAssociation.colaboratorId">
            <option *ngFor="let colaborator of colaboradoresAssocLista" [value]="colaborator.id">
              {{ colaborator.id }} - {{ colaborator.name }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="DataInicio" class="form-label">Data Inicio</label>
          <input type="date" class="form-control" id="DataInicio" name="DataInicio" required [(ngModel)]="newAssociation.startDate">
        </div>
        <div class="mb-3">
          <label for="DataFim" class="form-label">Data Fim</label>
          <input type="date" class="form-control" id="DataFim" name="DataFim" required [(ngModel)]="newAssociation.endDate">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addAssociationForm.invalid">Add</button>
      </form>
    </div>
  </div>
</div>
